<html>
<head>
    <title>WebSocker</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript" src="web_socket.js"></script>
</head>
<body>
    <h1><span id="counter">0</span> viewers</h2>
    <form method="post" action="#" id="textform">
        <input type="text" id="text"></input>
        <input type="submit" value="Submit"></input>
    </form>
    <div id="text-list"></div>
</body>
</html>
